// app global css in SCSS form

body {
   min-height: 100vh;
   overflow-x: hidden;
  .scrollable-div {
   height: 100vh;
   overflow-y: auto;
   overflow-x: hidden;
 }
}

h1,h2,h3,h4,h5,h6,p {
   margin-top: 0;
   margin-bottom: 0px;
}

a {
   text-decoration: none;
}
ul {
   list-style: none;
}
h4 {
   font-size: 27px;
}
input:focus {
   outline: none;
}

.content-bg {
   background: #f8f8f8;
}

.pointer {
   cursor: pointer;
}

.full-vh {
   height: 100vh;
}
.min-vh {
   min-height: 100vh;
}

// Custom Scrollbar
.custom-scrollbar {
   // Webkit
   &::-webkit-scrollbar {
      width: 5px;
   }
   &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px var(--q-primary);
   }
   &::-webkit-scrollbar-thumb {
      background-color: var(--q-primary);
   }
}

.d-none {
   display: none;
}

// Amination delay
@for $i from 1 through 20 {
   .delay-#{$i} {
      animation-delay: #{$i}50ms;
   }
 }


//  Responsive
// ///////////

// Large Device
@media (min-width: $breakpoint-lg) {

}
// Medium Device
@media (min-width: 1024px) {
   .px-xl-md {
      padding-left: 48px;
      padding-right: 48px;
   }
   .my-md-xl {
      margin-top: 48px;
      margin-bottom: 48px;
   }
   .mt-md-xl {
      margin-top: 48px;
   }
   .mb-md-none {
      margin-bottom: 0;
   }
   .justiry-md-center {
      justify-content: center;
   }
   .d-md-block {
      display: block;
   }
   .d-md-none {
      display: none;
   }
}

// Small Device
@media (min-width: $breakpoint-xs) {
   .px-xl-sm {
      padding-left: 48px;
      padding-right: 48px;
   }
   .d-sm-block {
      display: block;
   }
   .d-sm-none {
      display: none;
   }
}


// Mobile Device
@media (max-width: $breakpoint-xs) {
   h2 {
      font-size: 30px;
      line-height: 20px;
   }

   h4 {
      font-size: 18px;
   }

   h5 {
      font-size: 18px;
   }
}
